@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.app {
    @media (max-width: 740px) {
        height: 94vh;
    }
    @media (max-width: 640px) {
        height: 92vh;
    }
    @media (min-width: 740px) {
        height: 93vh;
    }
}

.text-notfound {
color: #8DA3AF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 65%;
margin: 28px auto 0 auto;
}

.button-404 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.button-container {
    width: 284px;
height: 60px;
border-radius: 8px;
background: #FF78A9;
display: flex;
padding: 20px 40px;
justify-content: center;

}