.title-privacy {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.privacy-square {
  width: 294px;
  height: 434px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #27272a;
}

.square-content {
  color: #6d6d6d;
  margin: 15px;
}

.square-title {
  font-weight: 700;
  margin: 20px 0;
}
