.circle-svg {
  position: absolute;
  top: -470px;
  border-radius: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  filter: blur(123px);
  pointer-events: none;
}

@media (max-width: 740px) {
  .circle-svg {
    width: 550px;
    position: fixed;
    justify-content: center;
    margin: 0 auto;
    top: -330px;
    filter: none;
    left: 50%;
    transform: translateX(-50%);
    content: url("../../../public/circleResponsive.svg");
  }
}
